<div class="example-container" fxLayout="column">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dados fiscais
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row">
          <mat-form-field fxFlex="70">
            <input matInput placeholder="CNPJ" name="cnpj" mask="99.999.999/9999-99"
            [(ngModel)]="fornecedor.cnpj">
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field fxFlex="65">
            <input matInput placeholder="Razão Social" name="razao" #razao="ngModel"
                   [(ngModel)]="fornecedor.razao" required>
            <mat-error *ngIf="razao.invalid">{{getErrorMessage(razao)}}</mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="35">
            <input matInput placeholder="Fantasia" name="fantasia" #fantasia="ngModel"
                   [(ngModel)]="fornecedor.fantasia" required>
            <mat-error *ngIf="fantasia.invalid">{{getErrorMessage(fantasia)}}</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-checkbox #isento name="isento" [(ngModel)]="fornecedor.isento">Isento?</mat-checkbox>
        </div>

        <mat-form-field>
          <input matInput placeholder="Inscrição municipal" name="insc_municipal"
                 [(ngModel)]="fornecedor.inscMunicipal">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Inscrição estadual" name="insc_estadual"
                 [disabled]="isento.checked" [(ngModel)]="fornecedor.inscEstadual">
        </mat-form-field>

        <div fxLayout="row">
          <mat-form-field fxFlex="100">
            <textarea matInput placeholder="Observação" name="obs"
                      [(ngModel)]="fornecedor.observacao"></textarea>
          </mat-form-field>
        </div>

        <mat-action-row>
          <button type="button" mat-button color="primary" (click)="nextStep()">Avançar</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Contato
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>email</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row">
          <mat-form-field fxFlex="50">
            <input matInput placeholder="Telefone principal" name="tel_principal"
                   [(ngModel)]="fornecedor.telefonePrincipal">
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Telefone secundário" name="tel_secundario"
                   [(ngModel)]="fornecedor.telefoneSecundario">
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field>
            <input matInput placeholder="Pessoa de contato" name="contato"
                   [(ngModel)]="fornecedor.contato">
          </mat-form-field>
        </div>

        <div fxLayout="row">
          <mat-form-field fxFlex="100">
            <input type="email" matInput placeholder="E-mail" name="email"
                   [(ngModel)]="fornecedor.email">
          </mat-form-field>
        </div>

        <mat-action-row>
          <button type="button" mat-button color="warn" (click)="prevStep()">Voltar</button>
          <button type="button" mat-button color="primary" (click)="nextStep()">Avançar</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Endereço
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>home</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div ngModelGroup="endereco">

          <div fxLayout="row">
            <mat-form-field fxFlex="30">
              <input matInput placeholder="CEP" name="cep" mask="99.999-999" [(ngModel)]="fornecedor.endereco.cep">
            </mat-form-field>
          </div>

          <div fxLayout="row">

            <mat-form-field fxFlex="60">
              <input matInput placeholder="Logradouro" name="logradouro" [(ngModel)]="fornecedor.endereco.logradouro">
            </mat-form-field>

            <mat-form-field fxFlex="15">
              <input matInput placeholder="Número" name="numero" [(ngModel)]="fornecedor.endereco.numero">
            </mat-form-field>

            <mat-form-field fxFlex="25">
              <input matInput placeholder="Complemento" name="complemento" [(ngModel)]="fornecedor.endereco.complemento">
            </mat-form-field>

          </div>

          <div fxLayout="row">

            <mat-form-field fxFlex="40">
              <input matInput placeholder="Bairro" name="bairro" [(ngModel)]="fornecedor.endereco.bairro">
            </mat-form-field>

            <mat-form-field fxFlex="45">
              <input matInput placeholder="Cidade" name="cidade" [(ngModel)]="fornecedor.endereco.cidade">
            </mat-form-field>

            <mat-form-field fxFlex="15">
              <input matInput placeholder="Estado" name="uf" [(ngModel)]="fornecedor.endereco.uf">
            </mat-form-field>

          </div>

        </div>

        <mat-action-row>
          <button type="button" mat-button color="warn" (click)="prevStep()">Voltar</button>
          <button type="submit" mat-button color="primary" (click)="nextStep()">Salvar</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>
  </form>
</div>
