<app-header-lv1 heading="Fornecedores"></app-header-lv1>

<div class="ui-g-12">
  <a href="javascript:void (0)" (click)="openFormModal(modal)"><i class="fa fa-plus"></i> Novo</a>
  <p-table [value]="fornecedores" [paginator]="true" [rows]="10" [responsive]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="text-table-left">Razão</th>
        <th style="width: 180px">Fantasia</th>
        <th style="width: 170px">CNPJ</th>
        <th style="width: 140px">Telefone</th>
        <th class="text-table-left">E-mail</th>
        <th style="width: 80px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-f>
      <tr>
        <td class="text-table-left">{{f.razaoSocial}}</td>
        <td>{{f.fantasia}}</td>
        <td>{{f.cnpj | cnpj}}</td>
        <td>{{f.telefonePrincipal | telefone}}</td>
        <td class="text-table-left">{{f.email}}</td>
        <td>
          <a href="javascript:void(0)" pTooltip="Editar" tooltipPosition="top"
             (click)="openFormModal(modal, f.id)"><i class="fa fa-pencil"></i></a>
          <a href="javascript:void(0)" pTooltip="Excluir" tooltipPosition="top"
          (click)="openConfirmModal(confirmModal, f.id)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-table-left">
          Nenhum fornecedor encontrado.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Fornecedor</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
      <p-accordion [activeIndex]="index">
        <p-accordionTab>
          <p-header>
            Dados fiscais
            <i class="fa fa-user" style="padding-left: 2.5rem"></i>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-12 ui-fluid">
            <span class="ui-float-label">
              <input id="cnpj" type="text" pInputText name="cnpj" mask="99.999.999/9999-99"
                     [(ngModel)]="fornecedor.cnpj">
              <label for="cnpj">CNPJ</label>
            </span>
            </div>

            <div class="ui-g-12 ui-fluid">
            <span class="ui-float-label">
              <input id="razao" type="text" pInputText name="razao" #razao="ngModel"
                     [(ngModel)]="fornecedor.razaoSocial" required>
              <label for="razao">Razão Social*</label>
            </span>
            </div>

            <div class="ui-g-12 ui-fluid">
            <span class="ui-float-label">
              <input id="fantasia" type="text" pInputText name="fantasia" #fantasia="ngModel"
                     [(ngModel)]="fornecedor.fantasia" required>
              <label for="fantasia">Fantasia*</label>
            </span>
            </div>

            <div class="ui-g-12 ui-fluid">
              <p-checkbox name="isento" binary="true" label="Isento?" #isento
                          [(ngModel)]="fornecedor.isento"></p-checkbox>
            </div>

            <div class="ui-g-6 ui-fluid">
            <span class="ui-float-label">
              <input id="insc_estadual" type="text" pInputText name="insc_estadual"
                     [disabled]="isento.checked" [(ngModel)]="fornecedor.inscEstadual">
              <label for="insc_estadual">Inscrição Estadual</label>
            </span>
            </div>
            <div class="ui-g-6 ui-fluid">
            <span class="ui-float-label">
              <input id="insc_municipal" type="text" pInputText name="insc_municipal"
                     [(ngModel)]="fornecedor.inscMunicipal">
              <label for="insc_municipal">Inscrição Municipal</label>
            </span>
            </div>

            <div class="ui-g-12 ui-fluid">
            <span class="ui-float-label">
              <textarea id="observacao" rows="3" pInputTextarea name="obs"
                        [(ngModel)]="fornecedor.observacao"></textarea>
              <label for="observacao">Observação</label>
            </span>
            </div>

          </div>

          <div class="ui-g">

            <div class="ui-g-12">
              <button type="button" pButton label="Avançar" (click)="openNext()" class="ui-button-secondary"></button>
            </div>

          </div>
        </p-accordionTab>
        <p-accordionTab>
          <p-header>
            Contato
            <i class="fa fa-address-book" style="padding-left: 4.8rem"></i>
          </p-header>
          <div class="ui-g">

            <div class="ui-g-6 ui-fluid">
            <span class="ui-float-label">
              <input id="telefone_principal" type="text" pInputText name="tel_principal"
                     [(ngModel)]="fornecedor.telefonePrincipal" ngxPhoneMaskBr>
              <label for="telefone_principal">Telefone principal</label>
            </span>
            </div>

            <div class="ui-g-6 ui-fluid">
            <span class="ui-float-label">
              <input id="telefone_secundario" type="text" pInputText name="tel_secundario"
                     [(ngModel)]="fornecedor.telefoneSecundario" ngxPhoneMaskBr>
              <label for="telefone_secundario">Telefone secundário</label>
            </span>
            </div>
            <div class="ui-g-12 ui-fluid">
            <span class="ui-float-label">
              <input id="contato" type="text" pInputText name="contato"
                     [(ngModel)]="fornecedor.contato">
              <label for="contato">Pessoa de contato</label>
            </span>
            </div>

            <div class="ui-g-12 ui-fluid">
            <span class="ui-float-label">
              <input id="email" type="email" pInputText name="email"
                     [(ngModel)]="fornecedor.email">
              <label for="email">E-mail</label>
            </span>
            </div>

          </div>

          <div class="ui-g">
            <div class="ui-g-12">
              <button type="button" pButton label="Voltar" (click)="openPrev()" class="ui-button-secondary"></button>
              <button type="button" pButton label="Avançar" (click)="openNext()" class="ui-button-secondary"></button>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab>
          <p-header>
            Endereço
            <i class="fa fa-map-marker" style="padding-left: 4.1rem"></i>
          </p-header>
          <div class="ui-g" ngModelGroup="endereco">

            <div class="ui-g-4 ui-fluid">
            <span class="ui-float-label">
              <input id="cep" type="text" pInputText name="cep" mask="99.999-999" [(ngModel)]="fornecedor.endereco.cep"
                     (blur)="consultaCep($event.target.value, f)">
              <label for="cep">CEP</label>
            </span>
            </div>
            <div class="ui-g-8 ui-fluid"></div>

            <div class="ui-g-7 ui-fluid">
            <span class="ui-float-label">
              <input id="logradouro" type="text" pInputText name="logradouro" [(ngModel)]="fornecedor.endereco.logradouro">
              <label for="logradouro">Logradouro</label>
            </span>
            </div>
            <div class="ui-g-2 ui-fluid">
            <span class="ui-float-label">
              <input id="numero" type="text" pInputText name="numero" [(ngModel)]="fornecedor.endereco.numero">
              <label for="numero">Número</label>
            </span>
            </div>
            <div class="ui-g-3 ui-fluid">
            <span class="ui-float-label">
              <input id="complemento" type="text" pInputText name="complemento" [(ngModel)]="fornecedor.endereco.complemento">
              <label for="complemento">Complemento</label>
            </span>
            </div>

            <div class="ui-g-5 ui-fluid">
            <span class="ui-float-label">
              <input id="bairro" type="text" pInputText name="bairro" [(ngModel)]="fornecedor.endereco.bairro">
              <label for="bairro">Bairro</label>
            </span>
            </div>
            <div class="ui-g-5 ui-fluid">
            <span class="ui-float-label">
              <input id="cidade" type="text" pInputText name="cidade" [(ngModel)]="fornecedor.endereco.cidade">
              <label for="cidade">Cidade</label>
            </span>
            </div>
            <div class="ui-g-2 ui-fluid">
            <span class="ui-float-label">
              <input id="uf" type="text" pInputText name="uf" [(ngModel)]="fornecedor.endereco.uf">
              <label for="uf">Estado</label>
            </span>
            </div>

          </div>

          <div class="ui-g">
            <div class="ui-g-12">
              <button type="button" pButton label="Voltar" (click)="openPrev()" class="ui-button-secondary"></button>
              <button type="submit" pButton label="Salvar"></button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </form>
  </div>
</ng-template>

<ng-template #confirmModal>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir este registro?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
