<app-header-lv1 heading="Categorias de Recebimentos"></app-header-lv1>

<div class="ui-g-12">
  <a href="javascript:void (0)"
     (click)="openFormModal(formModal)"><i class="fa fa-plus"></i> Novo</a>
  <p-table [value]="categorias" [responsive]="true" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-table-left">Descrição</th>
        <th style="width: 80px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-c>
      <tr>
        <td class="text-table-left">{{c.descricao}}</td>
        <td>
          <a href="javascript:void (0)" pTooltip="Editar" tooltipPosition="top"
             (click)="openFormModal(formModal, c.id)"><i class="fa fa-pencil"></i></a>
          <a href="javascript:void (0)" pTooltip="Excluir" tooltipPosition="top"
             (click)="openConfirmModal(confirmModal, c.id)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="2" class="text-table-left">
          Nenhuma categoria encontrada.
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<ng-template #formModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Categoria</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
      <div class="ui-g-12">

        <div class="ui-g-12 ui-fluid">
          <span class="ui-float-label">
            <input type="text" pInputText name="descricao" id="descricao"
                   required [(ngModel)]="categoria.descricao">
            <label for="descricao">Descrição</label>
          </span>
        </div>

        <div class="ui-g-12">
          <button type="submit" pButton label="Salvar" class="btn-primary"></button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirmModal>
  <div class="modal-body text-center">
    <p>Deseja realmente excluir este registro?</p>
    <button type="button" class="btn btn-danger" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
