<app-header-lv2 heading="Cadastro de Cliente" headingAnterior="Clientes" linkAnterior="/cliente"></app-header-lv2>

<div class="ui-g">
  <form #f="ngForm" autocomplete="off">

    <div class="ui-g-4 ui-fluid">
      <label>CPF</label>
      <p-inputMask mask="999.999.999-99" name="cpf"></p-inputMask>
    </div>

    <div class="ui-g-3 ui-fluid">
      <label>RG</label>
      <input type="text" pInputText name="rg">
    </div>

    <div class="ui-g-5 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText name="nome">
    </div>

    <div class="ui-g-3 ui-fluid">
      <label>Data de nascimento</label>
      <p-calendar name="nascimento" [showIcon]="true" dateFormat="dd/mm/yy" [locale]="pt"></p-calendar>
    </div>

    <div class="ui-g-3 ui-fluid">
      <label>Estado civil</label>
      <p-dropdown [options]="estadosCivis" [autoWidth]="false" name="estadoCivil"
      placeholder="Selecione:"></p-dropdown>
    </div>

    <div class="ui-g-3 ui-fluid">
      <label>Telefone principal</label>
      <input type="text" pInputText name="telefonePrincipal">
    </div>

    <div class="ui-g-3 ui-fluid">
      <label>Telefone secundário</label>
      <input type="text" pInputText name="telefoneSecundario">
    </div>

    <div class="ui-g-3 ui-fluid">
      <label>Sexo</label>
      <p-dropdown [options]="sexos" [autoWidth]="false" name="sexo"
                  placeholder="Selecione:"></p-dropdown>
    </div>

    <div class="ui-g-9 ui-fluid">
      <label>E-mail</label>
      <input type="text" pInputText name="email">
    </div>

    <div class="ui-g-12">
      <hr>
    </div>

    <div class="ui-g-2 ui-fluid">
      <label>CEP</label>
      <p-inputMask mask="99.999-999" name="cep"></p-inputMask>
    </div>

    <div class="ui-g-5 ui-fluid">
      <label>Logradouro</label>
      <input type="text" pInputText name="logradouro">
    </div>

    <div class="ui-g-2 ui-fluid">
      <label>Número</label>
      <input type="text" pInputText name="numero">
    </div>

    <div class="ui-g-3 ui-fluid">
      <label>Complemento</label>
      <input type="text" pInputText name="numero">
    </div>

    <div class="ui-g-4 ui-fluid">
      <label>Bairro</label>
      <input type="text" pInputText name="bairro">
    </div>

    <div class="ui-g-6 ui-fluid">
      <label>Cidade</label>
      <input type="text" pInputText name="cidade">
    </div>

    <div class="ui-g-2 ui-fluid">
      <label>Estado</label>
      <input type="text" pInputText name="uf">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar"></button>
    </div>
  </form>
</div>
